@media screen and (min-width: 600px) {
    h2.weather::after {
        content: url('images/weather-icon.svg'); 
    }
    .icon {
        width: 45px;
        height: 40px;
        display: inline-block;
    }
    .weather, .data {
        position: absolute;
        bottom: 50px;
        background-color: #333;
        background-color: #d5c7bc(221, 191, 228, 0.75);
        color: #d5c7bc;
        border-radius: 10%;
        margin: auto;
        padding: 1rem;
    }

    .hero {
        background-position: 0%;
        background-size: cover;
    }
    .weather {
        right: 45px;
    }
    .data {
        left: 45px;
    }
    p, h3 {
        padding: 2px;
        margin: 2px;
    }
    h2 {
        position: relative;
        right: 20px;
        background-color: var(--label-color);
        color: #DDBFE4;
        text-align: left;
    }
}