@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .res-grid {
        grid-template-columns: 1fr 1fr;
    }
}
