body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000006e;
    color: #424141;
}
header, nav, main, footer {
    padding: 1em;
    text-align: center;
}
nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em;
    display: block;
    background-color: #3331316c;
}
nav a:hover {
    background-color: #dddddd75;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
figure {
    margin: 0;
    text-align: center;
}
